# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Model artifacts
model/
*.joblib

# GCP keys
*.json
